/* Add the following styles to your CSS file or App.css */
h1,
h2 {
  margin-left: 10px;
}
table {
  width: 98%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #ddd;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
